<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script type="module" src="/scripts/profile.js"></script>
    <title>User Profile</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
    />
  </head>
  <body>
    <div class="container mt-5">
      <div class="row">
        <div class="col-md-6 mx-auto">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">{{.user.FirstName}} {{.user.LastName}}</h3>
            </div>
            <div class="card-body">
              <h5 class="card-subtitle mb-2 text-muted">Livros</h5>
              <ul class="list-group mb-3">
                {{range .user.Books}}
                <li class="list-group-item">
                  <strong>Título:</strong> {{.Title}} <br />
                  <strong>Autor:</strong> {{.Author}} <br />
                  <strong>Status:</strong> {{if .Donating}}Doando{{else}}Não está doando{{end}} <br />
                  {{if .Donating}}
                  <button data-book-id="{{.Id}}" type="button" class="btn btn-primary btn-sm mt-2 donation" title="Livro já está para doação." disabled>Colocar para doação</button>
                  {{else}}
                  <button data-book-id="{{.Id}}" type="button" class="btn btn-primary btn-sm mt-2 donation">Colocar para doação</button>
                  {{end}}
                </li>
                {{end}}
              </ul>
              <h5 class="card-subtitle mb-2 text-muted">Livros Doados</h5>
              <ul class="list-group">
                {{range .user.DonatedBooks}}
                <li class="list-group-item">
                  <strong>Doado para:</strong> {{.ToUserName}}
                </li>
                {{end}}
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
